.moviesList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.moviesList li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    cursor: default;
    border-radius: 4px;
    background: #111;
    color: #fff;
    padding: 1rem;
    transition: filter 0.3s, transform 0.3s;
}

.moviesList--imgContainer {
    width: 100%;
    aspect-ratio: 2/3;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    transition: box-shadow 0.3s;
}

.moviesList--imgContainer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.moviesList--imgContainer p {
    color: gray;
}

.moviesList li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    .moviesList--imgContainer:has(img) {
        box-shadow: 0 0 8px rgba(255, 255, 255,0.5);
    }
    img {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.moviesList:has(li:hover) li:not(:hover) {
    filter: grayscale(80%);
    transform: scale(0.95);
}

@media screen and (min-width: 668px) {
    .moviesList {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .moviesList {
        width: 60%;
    }
}
